/*BARRA DE NAVEGACIÓN*/
.navigation {
    height: var(--navigation-height);
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2px;
    border-bottom: 1px solid #d9d9d9;
}

/*PESTAÑA*/
.navigation-item {
    display: flex;
}

/*BOTÓN*/
.navigation-button {
    padding: 0 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    transition: background var(--transition-fast);
}

.navigation-button:hover {
    background: #ececec;
}