/* ============================================================
   WORKSPACE
============================================================ */

/* ============================================================
   Contenedor principal
============================================================ */

.workspace{
    display:flex;
    flex:1;
    gap:var(--space-xl);
    padding:var(--space-xl);
    overflow:hidden;
}

/* ============================================================
   Dashboard
============================================================ */

.workspace-dashboard{
    flex:1;
    overflow-y: auto;
}

/* ============================================================
   Panel lateral
============================================================ */

.workspace-alerts{
    display:flex;
    width:var(--alert-center-width);
    flex-shrink:0;
}